node_modules/
build/
.build/*
*.log
.cursor/
.cursor/*
.env*
*.key
convert_*
GoldPrice.app
.DS_Store
.gitignore
*.zip
.vscode/
.vscode/*
GoldPriceFeatures.md
sync_to_github.sh
sync_to_github_auto.sh
README_GITHUB_SYNC.md
github_sync_example.md
Archives/
Archives/*